torch
torchvision
matplotlib
pandas
tqdm
pillow
fonttools
filelock
Pygments
ipykernel
ipywidgets
jupyter-client
jupyter-core
jupyter-server
jupyterlab
nbclient
nbconvert
nbformat
notebook
traitlets
grpcio
protobuf
jupyter-cli
jupyter
setuptools
wheel
grpcio-tools
py4j