torch
torchvision
matplotlib
pandas
tqdm
pillow
fonttools
filelock
Pygments
ipykernel
ipywidgets
jupyter-client
jupyter-core
jupyter-server
jupyterlab
nbclient
nbconvert
nbformat
notebook
traitlets
grpcio==1.62.2
grpcio-tools==1.62.2
protobuf==4.25.3
jupyter-cli
jupyter
setuptools
wheel
py4j