matplotlib
pandas
tqdm
pillow
fonttools
filelock
Pygments
ipykernel
ipywidgets
jupyter_client
jupyter_core
jupyter_server
jupyterlab
nbclient
nbconvert
nbformat
notebook
traitlets
grpcio
protobuf
jupyter-cli
jupyter
setuptools
wheel
grpcio
grpcio-tools
torch
torchvision
py4j
